@media screen and (max-width: 850px) {
    .gallery .grid-display, .gallery img {
        width: 100% !important;
    }
    .gallery h1 {
        font-size: 24px !important;
    }

    .gallery h1, h2, h3 {
        text-indent: 0 !important;
        padding-top: 4rem !important;
    }

    .gallery p {
        text-indent: 2rem !important;
    }

    .gallery p, .gallery ul {
        font-size: 16px !important;
    }
    .gallery ul {
        padding: 0 !important;
    }
    video {
        width: 100% !important;
    }
}

.gallery .grid-display {
    width: 70%;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.gallery .grid-display img {
    width: 100%;
    height: 100%;
    margin: none;
}

video {
    margin: 1rem;
    max-height: 90vh;
}

.gallery img {
    width: 70%;
    margin: 0 !important;
}

.gallery h1 {
    font-size: 28px;
}

.gallery h2, h3 {
    color: black;
    align-self: flex-start;
    text-transform: none;
    font-family: 'Open Sans', sans-serif;
}

.gallery h2 {
    text-indent: 3rem;
    padding-top: 1rem;
}

.gallery h3 {
    align-self: baseline;
    text-indent: 6rem;
    font-size: 24px;
}

.gallery p {
    text-indent: 3rem;
    width: 100%;
}

.gallery ul {
    font-weight: normal;
    align-self: baseline;
    padding: .5rem 2rem;
    font-size: 18px;
    color: #4c4c4c;
    font-family: 'Open Sans', sans-serif;
}